extends ./layout/index

block contenido
        main.container.mt-5 
                div.row
                        div.col-md-5
                                img(src="img/nosotros.jpg" alt="imagen sobre nosotros", class = "img-fluid")
                        div.col-md-7
                                h1 #{pagina}
                                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Aenean tortor velit, lobortis ac dui ac, tincidunt pellentesque quam. Sed sollicitudin nisl sit amet arcu sodales gravida. Aliquam erat volutpat. Aenean ac tortor nulla. Nullam sodales vitae nisi sed bibendum. Donec eu ullamcorper lectus, ut hendrerit massa. Proin iaculis, libero in sollicitudin dapibus, ipsum sapien commodo nibh, vel faucibus risus diam eget tellus. Phasellus id tortor arcu. Etiam finibus, dolor ac vestibulum interdum, dui eros tincidunt massa, eu congue dui lacus in nisl. Praesent ullamcorper odio non ex tempor, nec vehicula metus vehicula. 

                                p neque justo. Donec ut neque sed lacus pulvinar malesuada id sit amet leo. Donec at varius tortor. Morbi condimentum augue elit, vitae ornare lacus lacinia in. Vivamus eu mi vitae libero interdum fringilla. Vivamus ac vestibulum ex. Praesent hendrerit elit eu urna semper auctor. Suspendisse vitae sem quam. Vestibulum sed justo a libero dictum sollicitudin. Cras bibendum risus ac pharetra porta. 

                                p vel consequat augue, nec mattis sapien. Ut scelerisque lacus lobortis turpis mollis, nec condimentum arcu varius. Nunc venenatis dolor vel est consectetur, id venenatis leo vehicula. Sed lobortis vestibulum eros at mollis. Nullam arcu nunc, semper quis tincidunt at, finibus sit amet lorem. Morbi rhoncus eros sit amet leo viverra, ut laoreet nibh auctor. Nulla non ultricies urna. Nunc congue blandit leo vitae porta. 

                div.listado-iconos
                        div.container.mt-5.py-5.text-center
                                div.row
                                        div.col-md-4
                                                img(src="img/icono_seguridad.svg" alt="icono seguridad" class="img-fluid mb-4")
                                                h2.mb-4 Seguridad 
                                                p neque justo. Donec ut neque sed lacus pulvinar malesuada id sit amet leo. Donec at varius tortor. Morbi condimentum augue elit, vitae ornare lacus lacinia in. Vivamus eu mi vitae libero interdum fringilla. Vivamus ac vestibulum ex.

                                        div.col-md-4
                                                img(src="img/icono_destinos.svg" alt="icono destinos" class="img-fluid mb-4")
                                                h2.mb-4 Mejores Destinos 
                                                p neque justo. Donec ut neque sed lacus pulvinar malesuada id sit amet leo. Donec at varius tortor. Morbi condimentum augue elit, vitae ornare lacus lacinia in. Vivamus eu mi vitae libero interdum fringilla. Vivamus ac vestibulum ex.

                                        div.col-md-4
                                                img(src="img/icono_precios.svg" alt="icono precios" class="img-fluid mb-4")
                                                h2.mb-4 Los Mejores Precios
                                                p neque justo. Donec ut neque sed lacus pulvinar malesuada id sit amet leo. Donec at varius tortor. Morbi condimentum augue elit, vitae ornare lacus lacinia in. Vivamus eu mi vitae libero interdum fringilla. Vivamus ac vestibulum ex.     



